In [1]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key
import gmaps

In [3]:
# Pull saved Weather Vacation with hotel names df
city_data_df = pd.read_csv("data/WeatherPy_vacation.csv")
city_data_df

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,TH,106.00,few clouds,9.14,99.33,Tapee Hotel
1,1,1,KI,82.06,moderate rain,3.07,172.79,Isles Sunset Lodge
2,2,2,US,55.40,overcast clouds,34.64,-120.46,Holiday Inn Express Lompoc
3,3,3,NP,49.05,few clouds,29.27,82.18,Hotel Sundar Rara Karnali
4,4,4,RU,-3.64,overcast clouds,71.69,128.87,Arktika
...,...,...,...,...,...,...,...,...
621,621,621,BR,65.80,overcast clouds,-13.80,-47.46,Pousada Vila dos Ipês
622,622,622,JP,57.20,clear sky,33.73,135.98,新宮ユーアイホテル
623,623,623,MV,83.03,scattered clouds,3.78,72.97,Omadhoo Inn
624,624,624,AU,90.00,scattered clouds,-31.93,115.83,Rendezvous Hotel Perth Central
625,625,625,AU,87.80,clear sky,-33.03,137.58,Foreshore Motor Inn